body {
    --body-color: #555555;
}

/* Header css */
.home #page-container,
.et_non_fixed_nav.et_transparent_nav.et_show_nav #page-container {
    padding-top: 0px !important;
}

.home #main-header {
    background-color: transparent;
    position: absolute;
    top: 0;
}
#top-menu li:hover a{
    color:#c7b299 !important;
}
.mobile_menu_bar_toggle::before{
    color:#c7b299 ;
}
.et_mobile_menu{
    border-top:3px solid #c7b299;
}
@media only screen and (min-width: 981px) {
    .home #main-header.et-fixed-header {
        background-color: #494844;
        z-index: 99999;
        position: fixed;
        transition: all .5s ease-in-out;
    }

    .et-animated-content#page-container {
        transition: none;
    }
}

/* button css */
.et_pb_button {
    border-width: 0px 0px 2px 0px;
}

.et_pb_button:hover {
    border-width: 0px 0px 2px 0px !important;
}

.et_pb_gutters3.et_pb_footer_columns4 .footer-widget .fwidget {
    margin-bottom: 12px;
}

/* Services Css */ 
.et_pb_column:hover .service_img .et_pb_image_wrap {
    opacity: 0;
}

.et_pb_column:hover .services,
.et_pb_column:hover .et_pb_divider::before {
    color: #c7b299;
    border-top-color: #c7b299;
}
.et_pb_column:hover {
    cursor: pointer;
}

/* Portfolio css */
.port_text p {
    padding-top: 20px;
}

/* Footer css */
/* About logo section */
#media_image-2{
margin-top:-15px;
margin-bottom: 30px;
}
.footer-widget li a {
    color: var(--body-color) !important;
}

.footer-widget li a:hover {
    color: #c7b299 !important;
}

#footer-widgets .footer-widget a:hover {
    color: #c7b299;
}

#footer-widgets .footer-widget li::before {
    border-style: none;
}
/* twitter section */
#text-3 .textwidget span.timing{
    font-size: 12px;
    color: #363636;
}
#text-3 .textwidget span.blue_txt{
    color:#00bff3;
}
/* footer recent post */
#recent-posts-3 ul{
    margin-left:-14px ;
}
#recent-posts-3 li {
    display: flex;
    flex-direction: column;
}
#recent-posts-3 li .post-date {
    font-size: 12px;
    color: #363636;
}
#recent-posts-3 li:hover .post-date {
    color: white;
}

/*Latest Project Content Css */
.et_pb_tab_content div {
    display: inline-block;
    margin: 15px;
    background-color: #fbfaf8;
    padding-bottom: 20px;
}

.et_pb_tab_content div h4 {
    color: #c7b299;
    padding-left: 30px;
}

.et_pb_tab_content div p {
    color: #d1d1d1;
    padding-left: 30px;
}

.et_pb_tab_content div:hover {
    background-color: #352f2d;
}

.et_pb_tab_content div:hover h4 {
    color: white;
}

.et_pb_tab_content div:hover p {
    color: #c7b299;
}

.et_pb_tabs_controls li.et_pb_tab_active {
    background-color: #998575;
}

.et_pb_tab_active a {
    color: white !important;
}

.et_pb_tabs_controls li:not(.et_pb_tab_active):last-child {
    border-right: 1px solid #d9d9d9;
}

.et_pb_tabs_controls li {
    margin: 0 10px;
    border: 1px solid #d9d9d9;
}

ul.et_pb_tabs_controls {
    background-color: transparent;
    margin: 0 150px;
}

ul.et_pb_tabs_controls::after,
.et_pb_tabs {
    border: none;
}
/* recent post section */
.et_pb_blog_grid .column article:hover {
    background-color: #352f2d;
    cursor: pointer;
}

.et_pb_blog_grid .column article:hover h2,
a {
    color: #c7b299;
}

.et_pb_blog_grid .column article:hover .post-content p {
    color: white;
}
.published{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 15px;
    width: 45px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    background-color: #363636;
    color: white;
}

/* Footer Menu Widget */
#menu-footer_menu {
    margin-left: 10px;
}

#menu-footer_menu li {
    display: inline-block;
    padding: 0 10px;
    border-left: 1px solid #252525;
}

#menu-footer_menu li a:hover {
    color: #c7b299;
}

#text-4 {
    color: #555555;
    font-size: 13px;
    float: right;
}

#text-4 p span {
    color: #959595;
}

@media only screen and (max-width: 740px) {
    ul.et_pb_tabs_controls {
        margin: 24px 64px;
    }

    .et_pb_tabs_controls li {
        margin: 10px 0px;
    }

    .home .et_pb_container {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 1024px)and (min-width: 741px) {
    .et_pb_tab_content div {
        width: 44%;
    }

    .et_pb_tabs_controls li {
        margin: 2px 4px;
    }

    ul.et_pb_tabs_controls {
        margin: 2px 115px;
    }
}